openapi: 3.0.3
info:
  $ref: './api/info.yaml'
security:
  - ApiKeyAuth: []
paths: {}
components:
  securitySchemes:
    $ref: './api/components/security.yaml'
  schemas:
    $ref: './api/components/schemas.yaml'
  responses:
    $ref: './api/components/responses.yaml'
